# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore Docker build artifacts
*.log

# Ignore test files (optional, if not needed in repo)
# test_app.py
Jenkinsfile
test_app.py
test.py
*.md

# Ignore Terraform state and cache
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore editor and OS files
.DS_Store
Thumbs.db

# Ignore ruff cache
.ruff_cache/
.git/
.gitignore
README.md
